<!DOCTYPE html>
<html>
    <head th:replace="fragments/base.html::headerfiles"></head>
    <body>
        <header th:replace="fragments/base.html::intestazione"></header>

        <div  class="d-flex justify-content-center align-items-center">
            <section class="pt-5 pb-5 mt-0 align-items-center d-flex " style="min-height: 100vh;">
                <div class="container-fluid">
                    <h4>
                        Complimenti ora sei registrato! Naviga liberamente per il sito!
                    </h4>
                </div>
            </section>
            
        </div>
       
    </body>
</html>